/* 
* Version: 1.8
* Default Color 	  : #72c02c;
* Default Hover Color : #5fb611;
*/

/*If you are using default Unify color (green - #72c02c), you do not need to link (use) default.css*/

.no-hover{
   text-decoration: none!important;
}