.confirm-page-content{
  border: 1px solid white;
  background-color: rgba(116, 197, 44, 0.87);
  color: #585f69!important;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

/* Fullscreen overlay for modal background */
#active-popup {
  background-color: rgba(52,73,94, 0.7);
  position: absolute;
  width: 100%;
  heighT: 100% !important;
  top: 0;
  left: 0;
  z-index: 999;
}

/* Modal container */
#popup-container {
  width: 45%;
  height: 50%;
  margin: 0 auto;
  margin-top: 12%;
  position: fixed;
  left: 28%;
  z-index: 999;
  top: 0;
  display: none;
  background: rgba(255, 255, 255, 0.93)
}

#popup-window { position: relative; }

// Disabled for now
//.modal-content h1,
//.modal-content p { color: #fff; }
//.modal-content p { padding: 20% 5% 0 5%; }

/* Close button */
#popup-container a.close {
  position: relative;
  float: right;
  top: -15px;
  right: -7px;
  z-index: 99;
  font-weight: bold;
  font-size: 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 2px 5px 2px 6px;
  line-height: 1em;
  text-align: center;
  background: rgba(116, 197, 44, 0.87);
  border: 4px solid rgba(116, 197, 44, 0.87);;
  cursor: pointer;
  color:#fff;
}

.splash-bg {
  padding: 25px;
}

.interactive-slider-v2 h1 {
  color: #fff;
  font-size: 33px!important;
  font-weight: 600;
  line-height: 60px!important;
  text-transform: uppercase;
}

.no-hover{
  text-decoration: none!important;
}

.footer-logo {
  margin: 17px 0 20px;
  width: 100%;
}

.color-white{
  color: white;
}

