.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #72c02c;
}

.tab-v1 .nav-tabs a {
    font-size: 14px;
    padding: 10px 30px;
}

/* This is for Very Small Phones! DO NOT REMOVE!*/
.nav-justified {
    width: 100%;
    display: inline-block;
}

/* This is for Very Small Phones! DO NOT REMOVE!*/
@media only screen and (max-width: 768px)  {
    .nav-justified {
        width: 100%;
        display: flex;
    }

    .nav-justified > li > a {
        margin-bottom: 0;
    }
}



.speaker-wrapper {
    position: absolute;
    left: 48px;
    top: 30px;
    width: auto !important;
    height: 50px;
    z-index: 1; }

.acc-v1 .panel-heading a {
    display: block;
    font-size: 14px;
    padding: 5px 15px;
    background: #fefefe;
    border-bottom: 1px solid #e3e3e3;
}

.speaker{
    border-top: 1px solid rgb(227, 227, 227);
}

.speaker .notification {
    overflow: hidden;
}

.speaker .notification img {
    width: 35px;
    height: 35px;
}

.notification span {
    color: #777;
    display: block;
}

.speaker  .notification img, .profile .notification i {
    float: left;
    margin-right: 10px;
}

.speaker .overflow-h{
    overflow: hidden;
    text-align: left;
    padding: 10px 10px 10px 0px;
}

.header_tabs > li.active > a::after {
    border-top-color: #72c02c !important;
}

.header_tabs > li.active > a::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 73, 25, 0);
    border-top-color: #72c02c;
    border-width: 7px 10px;
    margin-left: -10px;
    z-index: 1;
}

.header_tabs > li > a:hover{
    color: #00A000;
    background-color: rgba(239, 231, 231, 0.4);
}

.nav-justified > li {
    border-bottom: solid 1px #eee;
    background: url(../img/patterns/breadcrumbs.png) repeat;
}

.header_title{
    text-transform: uppercase;
}

.header_title:hover{
    color: white;
}

.nav-pills > li + li {
    border-right: 1 solid rgb(227, 227, 227);
    border-left: 1 solid rgb(227, 227, 227);
}

.shop-subscribe{
    padding: 20px 0;
    background: #72c02c;
}

.padding-top-bottom-15{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.label-custom{
    color: #999;
    font-weight: 700;
}

.star-font {
    font-size: 30px !important;
    color: #D4AF37 !important; }

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2; }
.star-ratings-css .star-ratings-css-top {
    color: #D4AF37 !important;
    padding: 0;
    text-shadow: 0px 1px 0 #D4AF37 !important;
    position: absolute;
    z-index: 1;
    display: block;
    left: 0px;
    overflow: hidden; }
.star-ratings-css .star-ratings-css-bottom {
    z-index: 0; }

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto; }
.star-ratings-sprite .rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}

